// 公共样式

.middle {
    height: auto;
    // height: 94vh;
    // overflow: scroll;
    padding: 20px 100px;
    background-color: #f5f5f5;
    font-size: 20px;
    color: #333;
    background: radial-gradient(ellipse 50% 40% at 5% 95%,
            rgba(37, 99, 235, 0.1) 0%,
            rgba(37, 99, 235, 0.04) 35%,
            transparent 80%),
        radial-gradient(ellipse 50% 77% at 94% 0%,
            #B48DFE 6%, #8CB5FF 38%, transparent 88%),
        linear-gradient(145deg, #fafbfc 0%, #ffffff 50%, #f8fafc 100%);
}

.img-size {
    width: 14px;
    height: 14px;
    padding-right: 5px;
}

.text-black {
    color: black;
}

.text-4E5969 {
    color: #4E5969;
}
.text-262E3B{
    color: #262E3B;
}

